@inherits LP
@rendermode InteractiveServer
@page "/listings"
@using BlazorBootstrap;

<PageTitle>Listing Page</PageTitle>

<SearchBar></SearchBar>
<div>
	<button class="sbutton tr" @onclick="rerender">Search</button>
</div>

<br/>
<br/>

<div class="flex-container">
	<div class="left">
		<h5 class="filter-heading-text" style="text-align: left; margin-left: 5.5rem; font-size: 1.2rem;">
			<p>Filter by:</p>
		</h5>
		<div class="filter-box">
			<div class="filter-box-top">
				<p class="filter-heading-text" style="margin: auto;">Your Budget Per Day</p>
			</div>
			<div style="margin-bottom: 0.8rem; padding-left: 0.9rem; padding-top: 0.9rem;">
				<input class="filter-button" type="checkbox" id="price-range-1" name="price-range-1" @bind="b_filter1">
				<label for="price-range-1">$0 - $199</label><br>
			</div>
			<div style="margin-bottom: 0.8rem; padding-left: 0.9rem;">
				<input class="filter-button" type="checkbox" id="price-range-2" name="price-range-2" @bind="b_filter2">
				<label for="price-range-2">$200 - $399</label><br>
			</div>
			<div style="margin-bottom: 0.8rem; padding-left: 0.9rem;">
				<input class="filter-button" type="checkbox" id="price-range-3" name="price-range-3" @bind="b_filter3">
				<label for="price-range-3">$400 - $999</label><br>
			</div>
			<div style="margin-bottom: 0.8rem; padding-left: 0.9rem;">
				<input class="filter-button" type="checkbox" id="price-range-3" name="price-range-3" @bind="b_filter4">
				<label for="price-range-3">$1000 - $1999</label><br>
			</div>
			<div style="margin-bottom: 0.5rem; padding-left: 0.9rem;">
				<input class="filter-button" type="checkbox" id="price-range-3" name="price-range-3" @bind="b_filter5">
				<label for="price-range-3">$2000 - $4999</label><br>
			</div>
		</div>
		<div class="filter-box">
			<div class="filter-box-top">
				<p class="filter-heading-text" style="margin: auto;">Rating</p>
			</div>
		</div>
		<div class="filter-box">
			<div class="filter-box-top">
				<p class="filter-heading-text" style="margin: auto;">Popular Filters</p>
			</div>
		</div>
		<div class="filter-box">
			<div class="filter-box-top">
				<p class="filter-heading-text" style="margin: auto;">Activities</p>
			</div>
		</div>
		
	</div>
	<div class="right">
		@foreach(var hotel in hotelInfo) {
			@if(b_Filter1Function(@hotel.d_price) || b_Filter2Function(@hotel.d_price) || b_Filter3Function(@hotel.d_price) || b_Filter4Function(@hotel.d_price) || b_Filter5Function(@hotel.d_price)) {
				i_resultCount++;	
			} else if (b_noFiltersChecked()) {
				i_resultCount++;
				if(i_resultCount == 10) {
					stopping_filter = true;
				} 
			}
		}
		<h1 class="filter-heading-text" style="margin-left: 2rem; font-size: 2rem; margin-bottom: 2rem;">@i_resultCount Listings Found</h1>
		@if(1 == 1) {
			i_resultCount = 0;
			stopping_filter = false;
		} 
		@foreach(var hotel in hotelInfo) {
			@if(b_Filter1Function(@hotel.d_price) || b_Filter2Function(@hotel.d_price) || b_Filter3Function(@hotel.d_price) || b_Filter4Function(@hotel.d_price) || b_Filter5Function(@hotel.d_price)) {
				<div class="hotel-info-border" style="margin-bottom: 1.5rem;">
					<div class="column" style="width: 35%;">
						<img src=@hotel.s_hotelImgPath class="center" alt="Nice Hotel" style="border-radius: 6px; height: 15rem;">
					</div>
					<div class="column" style="width: 45%">
							<h1 class="filter-heading-text" style="text-align: left; font-size: 24px;">@hotel.s_name</h1>
							<p style="margin-bottom: 0.5rem; font-size: 0.9rem;">The rating is a @hotel.d_rating (@hotel.i_reviewCount reviews)</p>
							<b class="filter-heading-text" style="font-size: 0.9rem;">@hotel.s_slogan</b>
							<p style="font-size: 0.9rem;">@hotel.s_description</p>
							<button class="button-to-book">See Rooms</button>
						</div>
						<div class="column" style="width: 20%">
							<p>The price is $@hotel.d_price</p>
						</div>
				</div>
			} else if (b_noFiltersChecked()) {
				<div class="hotel-info-border" style="margin-bottom: 1.5rem;">
					<div class="column" style="width: 35%;">
						<img src=@hotel.s_hotelImgPath class="center" alt="Nice Hotel" style="border-radius: 6px; height: 15rem;">
					</div>
					<div class="column" style="width: 45%">
							<h1 class="filter-heading-text" style="text-align: left; font-size: 24px;">@hotel.s_name</h1>
							<p style="margin-bottom: 0.5rem; font-size: 0.9rem;">The rating is a @hotel.d_rating (@hotel.i_reviewCount reviews)</p>
							<b class="filter-heading-text" style="font-size: 0.9rem;">@hotel.s_slogan</b>
							<p style="font-size: 0.9rem;">@hotel.s_description</p>
							<button class="button-to-book">See Rooms</button>
						</div>
						<div class="column" style="width: 20%">
							<p>The price is $@hotel.d_price</p>
						</div>
				</div>
				i_resultCount++;
				if(i_resultCount == 10) {
					stopping_filter = true;
				} 
			}
		}
		@if(1 == 1) {
			i_resultCount = 0;
			stopping_filter = false;
		}
	</div>
</div>

@code{
	public void rerender(){
		this.StateHasChanged();
	}
}